{% extends "base.html" %}
{% load i18n front_tags %}

{% block extrahead %}
{% endblock %}

{% block content_header %}
    {% front_edit "about-header" %}
        <h1>About {{ BRANDING.ORG_NAME }}</h1>
    {% end_front_edit %}
{% endblock %}

{% block content %}

{% front_edit "about-content" %}
<p>
    Since 1972, NARAL Pro-Choice Massachusetts has led the way in advancing reproductive freedom for women and families in the Commonwealth.
</p>

<p>
    Our mission is to develop and sustain a grassroots constituency that uses the political process to guarantee every woman the right to make personal decisions regarding the full range of reproductive choices, including preventing unintended pregnancy; bearing healthy children; and choosing safe, legal, accessible abortion.
</p>

<p>
    With the right to choose under attack across the country, we need more elected officials here who will stand up and safeguard a woman's ability to make personal, private decisions about pregnancy and childbearing. That's why, each campaign season, we work to elect pro-choice candidates by providing tactical support to their campaigns and mobilizing the pro-choice majority to vote.
</p>

<br>
<h2>About Our Ratings</h2>

<p>
    Ratings are based on a candidate's voting record, responses to our questionnaire, and/or information gathered by the NARAL Pro-Choice Massachusetts Political Committee.
</p>

<h3>Endorsed</h3>
<p>
    Candidate is endorsed by NARAL Pro-Choice Massachusetts.
</p>
 
<h3>Pro-Choice</h3>
<p>
    Candidate believes abortion should be safe, legal, and accessible; supports access to family planning services and comprehensive health education, including information about abstinence and contraception.
</p>

<h3>Anti-Choice</h3>
<p>
    Candidate opposes a woman's right to choose abortion or supports it in such limited circumstances as to render the right to choose meaningless.
</p>

<h3>Mixed</h3>
<p>
    Candidate supports a woman's right to choose with restrictions.
</p>

<h3>Unknown</h3>
<p>
    Candidate's stance is unclear.
</p>

<br>
<p>
    Note: Some legislators rated "Anti-Choice" or "Mixed" support access to family planning services and/or comprehensive health education.
</p>

<br>
<h2>Endorsement Policy</h2>
<p>
    NARAL Pro-Choice Massachusetts endorses candidates with strong pro-choice positions and structured campaigns. Since we place a high priority on issue leadership and a pro-choice voting record, in certain races we have endorsed one pro-choice candidate over another.
</p>
{% end_front_edit %}

{% endblock %}
