{% extends "base.html" %}
{% load i18n front_tags %}

{% block extrahead %}
{% endblock %}

{% block content_header %}
    {% front_edit "candidate-list-header" %}
        <h1>Candidate Ratings</h1>
    {% end_front_edit %}
{% endblock %}

{% block content %}

    {% front_edit "candidate-list-intro" %}
        <p>
            NARAL Pro-Choice Massachusetts makes every effort to provide our questionnaire to every candidate in every race to provide voters with as much information about their candidates as possible. Candidates with Unknown ratings have not responded to repeated requests for a completed questionnaire or do not have publicly available contact information. If you are a candidate and would like your rating updated, please email <a href="mailto:kevin@prochoicemass.org">kevin@prochoicemass.org</a> to request a questionnaire.
        </p>
    {% end_front_edit %}
    <br>
    
    <form action="{% url 'candidate_list' %}" method="GET">
        <table class="table-filter">
            <tr>
                <td>{{ candidate_filter.office.label_tag }}</td>
                <td>{{ candidate_filter.district.label_tag }}</td>
                <td>{{ candidate_filter.party.label_tag }}</td>
                <td>{{ candidate_filter.rating.label_tag }}</td>
                <td><label for="candidate_name_filter">{% trans "Name" %}</label></td>
                <td></td>
            </tr>
            <tr>
                <td>{{ candidate_filter.office }}</td>
                <td>{{ candidate_filter.district }}</td>
                <td>{{ candidate_filter.party }}</td>
                <td>{{ candidate_filter.rating }}</td>
                <td>
                    <input type="text" id="candidate_name_filter">
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" value="{% trans 'Filter' %}">
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <br>
                    <!-- <input type="checkbox"> <label></label> -->
                    {{ candidate_filter.with_endorsements }}
                    {{ candidate_filter.with_endorsements.label_tag }}
                </td>
            </tr>
        </table>
        
    </form>
    <br>

    <table id="candidate_list" class="table table-condensed table-striped table-bordered table-hover table-candidate-list">
        <thead>
            <tr>
                <th class="col-office">{% trans "Office" %}</th>
                <th class="col-district">{% trans "District" %}</th>
                <th class="col-name">{% trans "Name" %}</th>
                <th class="col-party">{% trans "Party" %}</th>
                <th class="col-rating">{% trans "Pro-Choice Rating" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for candidate in candidates %}
                <tr class="{% if candidate.rating == candidate.RATING_ENDORSED %}success{% endif %}" data-filter-value="{{ candidate.person.full_name }}">
                    <td>{{ candidate.race.office.name }}</td>
                    <td>{% if candidate.race.district %}{{ candidate.race.district.name }}{% else %}{% trans "Statewide" %}{% endif %}</td>
                    <td>{{ candidate.person.full_name }} {% if candidate.is_incumbent %}<b>({% trans "Incumbent" %})</b>{% endif %}</td>
                    <td>{{ candidate.get_party_display }}</td>
                    <td>{{ candidate.get_rating_display }}</td>
                    {% if candidate.rating == candidate.RATING_ENDORSED %}
                        <td class="nobg icon-container">
                            <i class="fa fa-check-circle"></i>
                        </td>
                        {% if BRANDING.VOLUNTEER_EMAIL %}
                            <td class="nobg hidden-xs">
                                <a href="mailto:{{ BRANDING.VOLUNTEER_EMAIL }}?subject=I want to volunteer for {{ candidate.person.full_name }}!">{% trans "Volunteer!" %}</a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#candidate_name_filter').on('keyup', function(e) {
            var value = $(this).val().toLowerCase();
            $("#candidate_list tbody tr").each(function() {
                var filter_value = $(this).data('filter-value');
                if (filter_value && filter_value.toLowerCase().search(value) > -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>
{% endblock %}
