{% extends "base.html" %}
{% load i18n front_tags %}

{% block extrahead %}
{% endblock %}

{% block content_header %}
    {% front_edit "local-header" %}
        <h1>Your Candidates</h1>
    {% end_front_edit %}
{% endblock %}

{% block content %}
    
    {% include "voterguide/statewide_endorsements.html" %}
    
    {% if address and not form_error %}
        {% regroup candidates by race.table_label as candidates_by_office %}

        <div class="col-md-8">
            {% for cbo in candidates_by_office %}

                <h3 class="office-label">{{ cbo.grouper }}</h3>

                <table class="table table-condensed table-striped table-bordered table-hover table-candidate-list">
                    <thead>
                        <tr>
                            <th class="col-name">{% trans "Name" %}</th>
                            <th class="col-party">{% trans "Party" %}</th>
                            <th class="col-rating">{% trans "Pro-Choice Rating" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for candidate in cbo.list %}
                            <tr class="{% if candidate.rating == candidate.RATING_ENDORSED %}success{% endif %}">
                                <td>{{ candidate.person.full_name }} {% if candidate.is_incumbent %}<b>({% trans "Incumbent" %})</b>{% endif %}</td>
                                <td>{{ candidate.get_party_display }}</td>
                                <td>{{ candidate.get_rating_display }}</td>
                                {% if candidate.rating == candidate.RATING_ENDORSED %}
                                    <td class="nobg icon-container">
                                        <i class="fa fa-check-circle"></i>
                                    </td>
                                    {% if BRANDING.VOLUNTEER_EMAIL %}
                                        <td class="nobg hidden-xs">
                                            <a href="mailto:{{ BRANDING.VOLUNTEER_EMAIL }}?subject=I want to volunteer for {{ candidate.person.full_name }}!">{% trans "Volunteer!" %}</a>
                                        </td>
                                    {% endif %}
                                {% endif %}

                                {% if candidate.about_blurb %}
                                    <td class="nobg icon-container">
                                        <i class="fa fa-info-circle modal-trigger" data-toggle="modal" data-target="#candidate_blurb_{{ candidate.id }}"></i>
                                        
                                        <div class="modal fade" id="candidate_blurb_{{ candidate.id }}" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">{{ candidate.person.full_name }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ candidate.about_blurb|linebreaksbr|safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>

        <div class="col-md-4 hidden-sm">
            <div id="map-canvas"></div>
            <div class="address-echo">
                <span class="the-address">{{ address }}</span>

                <p>
                    {% front_edit "map-hint-help" %}
                        This is where Google thinks this address is, and what we use to locate your district.
                    {% end_front_edit %}
                </p>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                var pos = new google.maps.LatLng({{ coords.lat }}, {{ coords.lng }});
                var mapOptions = {
                    zoom: 17,
                    center: pos
                };
                var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                var marker = new google.maps.Marker({
                  position: pos,
                  map: map
              });

            });
        </script>

    {% else %}
        <br>
        <h4>{% trans "Find Your Local Candidates" %}</h4>

        {% if form_error %}
            <p class="alert alert-warning">
                {% blocktrans %}
                    Oops, we couldn't find any local candidates at that address. Try again below (use the format <b>Street Address, City, State ZIP</b>)
                {% endblocktrans %}
            </p>
        {% endif %}

        {% include "voterguide/lookup_form.html" %}

    {% endif %}

{% endblock %}

{% block extrajs %}
{% endblock %}
