{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "Your Candidates" %}</h1>
{% endblock %}

{% block content %}
    
    {% include "voterguide/statewide_endorsements.html" %}
    
    {% if address and not form_error %}
        {% regroup candidates by race.table_label as candidates_by_office %}

        {% for cbo in candidates_by_office %}

            <h3 class="office-label">{{ cbo.grouper }}</h3>

            <table class="table table-condensed table-striped table-bordered table-hover table-candidate-list">
                <thead>
                    <tr>
                        <th class="col-name">{% trans "Name" %}</th>
                        <th class="col-party">{% trans "Party" %}</th>
                        <th class="col-rating">{% trans "Pro-Choice Rating" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidate in cbo.list %}
                        <tr class="{% if candidate.rating == candidate.RATING_ENDORSED %}success{% endif %}">
                            <td>{{ candidate.person.full_name }} {% if candidate.is_incumbent %}<b>({% trans "Incumbent" %})</b>{% endif %}</td>
                            <td>{{ candidate.get_party_display }}</td>
                            <td>{{ candidate.get_rating_display }}</td>
                            {% if candidate.rating == candidate.RATING_ENDORSED %}
                                <td class="nobg icon-container">
                                    <i class="fa fa-check-circle"></i>
                                </td>
                                <td class="nobg">
                                    <a href="mailto:choice@prochoicemass.org?subject=I want to volunteer for {{ candidate.person.full_name }}!">{% trans "Volunteer!" %}</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <br>
        <h4>{% trans "Find Your Local Candidates" %}</h4>

        {% if form_error %}
            <p class="alert alert-warning">
                {% blocktrans %}
                    Oops, we couldn't find any local candidates at that address. Try again below (use the format <b>Street Address, City, State ZIP</b>)
                {% endblocktrans %}
            </p>
        {% endif %}

        {% include "voterguide/lookup_form.html" %}

    {% endif %}

{% endblock %}

{% block extrajs %}
{% endblock %}
