{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "Your Candidates" %}</h1>
{% endblock %}

{% block content %}
    
    <p>
        {% trans "Your statewide NARAL-endorsed candidates are:" %}
        {% for candidate in statewide_endorsees %}
            <b>{{ candidate.person.full_name }}</b> ({{ candidate.race.table_label }}){% if not forloop.last %}, {% endif %}
        {% endfor %}

        &nbsp;
        <a href="{% url 'statewide' %}">{% trans "Learn More..." %}</a>
    </p>
    <br>
    
    {% if address and not form_error %}
        <p>
            {% trans "Your local candidates are:" %}
        </p>

        <table class="table table-condensed table-striped table-bordered table-hover table-candidate-list">
            <thead>
                <tr>
                    <th>{% trans "Office" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Party" %}</th>
                    <th>{% trans "Rating" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                    <tr class="{% if candidate.rating == candidate.RATING_ENDORSED %}success{% endif %}">
                        <td>{{ candidate.race.table_label }}</td>
                        <td>{{ candidate.person.full_name }} {% if candidate.is_incumbent %}({% trans "Incumbent" %}){% endif %}</td>
                        <td>{{ candidate.get_party_display }}</td>
                        <td>{{ candidate.get_rating_display }}</td>
                        {% if candidate.rating == candidate.RATING_ENDORSED %}
                            <td class="nobg icon-container">
                                <i class="fa fa-check-circle"></i>
                            </td>
                            <td class="nobg">
                                <a href="mailto:choice@prochoicemass.org?subject=I want to volunteer for {{ candidate.person.full_name }}!">{% trans "Volunteer!" %}</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>{% trans "Find Your Local Candidates" %}</h4>

        {% if form_error %}
            <p class="alert alert-warning">
                {% blocktrans %}
                    Oops, we couldn't find any local candidates at that address. Try again below (use the format <b>Street Address, City, State ZIP</b>)
                {% endblocktrans %}
            </p>
        {% endif %}

        {% include "voterguide/lookup_form.html" %}

    {% endif %}

{% endblock %}

{% block extrajs %}
{% endblock %}
