{% extends "base.html" %}
{% load i18n %}

{% block content_header %}
    <h1>{% trans "Support Choice - Find Your Candidates!" %}</h1>
{% endblock %}

{% block content %}

<p>
    {% blocktrans %}
        A woman's right to choose is under unprecedented attack. Massachusetts has not been immune to the wave of anti-choice fervor that is sweeping the country. As a result of the 2010 elections, we nearly lost our pro-choice majority in the Massachusetts House of Representatives. In 2012, we seek to win back a substantial majority in the House and maintain our strong majority in the Senate.
    {% endblocktrans %}
</p>

<br>
<p>
    {% blocktrans %}
        The primary will be on <b>Tuesday, September 9, 2014</b> and the general election will be on <b>Tuesday, November 4, 2014</b>.
    {% endblocktrans %}
</p>
<br>

<p>
    {% blocktrans %}
        Find your local candidates using the form below:
    {% endblocktrans %}
</p>
<br>

    {% include "voterguide/lookup_form.html" %}

{% endblock %}
