{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}

{% endblock %}

{% block content_header %}
    <h1>{% trans "Import Candidates" %}</h1>
{% endblock %}

{% block content %}
    <p>
        {% blocktrans %}
            Use this tool to import candidates from a CSV. The CSV must have the following fields, in this order:
        {% endblocktrans %}
        <b>
            {% blocktrans %}
                Office, District, Priority, Status, First Name, Last Name, Party, Rating, Incumbent (Y/N), Endorsed (Y/N)
            {% endblocktrans %}
        </b>
    </p>
    <ul>
        {% blocktrans %}
            <li> It should NOT have a header row.</li>
            <li> "Incumbent" and "Endorsed" will read as Yes if there's a "Y" in the field, otherwill it'll be a No.</li>
            <li> "Rating" should be one of: [Endorsed, Pro-Choice, Mixed, Anti-Choice, Uknown] (OK to indicate endorsement with "Endorsed" column instead)</li>
            <li> "Priority" and "Status" are ignored, so it doesn't matter what you put there, but should exist so the columns match up.</li>
        {% endblocktrans %}
    </ul>

    <form action="{% url 'import_candidates' %}" method="POST" role="form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="{% trans 'Import' %}">
    </form>

{% endblock %}

{% block extrajs %}

{% endblock %}
