{% load i18n %}

{# This is a district lookup form #}

<form method="GET" id="address_lookup" class="address_lookup_form">
    <label for="address">{% trans "Enter Your Address" %}:</label>
    <br>
    <input type="text" id="address" name="address" size="50" placeholder="Street, City, State ZIP" value="{{ address }}">
    <br><br>
    <input type="submit" class="btn btn-primary" value="{% trans 'Find My Candidates!' %}">
</form>

<form method="GET" action="{% url 'district_lookup' %}" id="district_lookup">
    <input type="hidden" name="lat" id="address_lat">
    <input type="hidden" name="lng" id="address_lng">
    <input type="hidden" name="address" id="address_str">
    <input type="hidden" name="county" id="address_county">
    <input type="hidden" name="city" id="address_city">
    <input type="hidden" name="postal_code" id="address_postal_code">
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $('#address_lookup').on('submit', function(e) {
            e.preventDefault();
            var address = $('#address').val();

            // GOOGLE
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                var loc = results[0].geometry.location;

                // get county if we have one
                $.each(results[0].address_components, function(idx, component) {
                    if (component.short_name.indexOf("County") != -1) {
                        $('#address_county').val(component.short_name.replace("County", "").trim());
                    }
                    if ((component.types[0] == "locality") && (component.types[1] == "political")) {
                        $('#address_city').val(component.long_name.trim());
                    }
                    if (component.types[0] == "postal_code") {
                        $('#address_postal_code').val(component.long_name.trim());
                    }
                });

                $('#address_lat').val(loc.lat());
                $('#address_lng').val(loc.lng());
                $('#address_str').val(address);
                $('#district_lookup').submit();
              } else {
                window.log("Geocode was not successful for the following reason: " + status);
                alert("Sorry, we couldn't find that address. Please check for typos and try again.");
              }
            });
        });
    });

if (!String.prototype.trim) {
    String.prototype.trim=function(){return this.replace(/^\s+|\s+$/g, '');};
}
</script>
