{% load i18n %}

<h3 class="office-label">{% trans "Your Statewide NARAL-Endorsed Candidates" %}</h3>

<div class="endorsement-box">
    <img src="{{ STATIC_URL }}img/coakley.jpg" width="100" class="pull-left">

    <div class="name">Martha Coakley (D) for Governor</div>

    <div class="blurb">
        {% blocktrans %}
            With a long career of fighting for women's access to basic health care, Attorney General Martha Coakley is <i>the</i> pro-choice leader in the race to elect Massachusetts next governor.
        {% endblocktrans %}
    </div>
</div>
<div class="clearfix"></div>
