body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Arvo', serif;
}

#wrapper {
    min-height: 800px;
}

.header {
    margin-top: 10px;
}

.header h3 {
    color: #B4003F;
    margin-top: 10px;
}

.header h3 a,
.header h3 a:link,
.header h3 a:active,
.header h3 a:visited {
    color: #B4003F;
    text-decoration: none;
}

.header .naral-links {
    margin-top: 10px;
}

.header .naral-links a {
    margin-left: 15px;
}

.header .naral-links i {
    font-size: 28px;
}

.header .fa-facebook-square {
    color: #3b5998;
}

.header .fa-twitter-square {
    color: rgb(51, 204, 255);
}

.header .nav > li > a {
    padding: 6px 12px;
    color: #B4003F;
}

.header .nav-pills > li.active > a,
.header .nav-pills > li.active > a:hover,
.header .nav-pills > li.active > a:active,
.header .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #B4003F;
}

.header .nav.nav-pills > li > a {
    padding: 6px 6px;
}

.header .nav.nav-pills.hidden-xs {
    margin-top: -20px;
}

.main-content {
    margin-top: 20px;
}

.register-vote-header {
    color: #B4003F;
    padding-top: 20px;
}

.register-vote-header a,
.register-vote-header a:hover,
.register-vote-header a:active,
.register-vote-header a:focus {
    color: #B4003F;
    font-weight: bold;
}

.footer {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    border-top: 1px dotted #CCCCCC;
}

a, a:hover, a:focus {
    color: #2a6496;
}

h3.office-label {
    margin-top: 30px;
}

TABLE.table-candidate-list {
    border-right: 0;
    border-bottom: 0;
}

TABLE.table TBODY TR TD.icon-container {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    color: green;
    font-size: 24px;
    line-height: 28px;
    width: 40px;
}

TABLE.table TBODY TR TD.nobg {
    background: none !important;
    border: none !important;
}

.statewide-endorsements {
    font-size: 1.2em;
}
